# Convertir un fichier XML en *data frame*

In [43]:
import pandas as pd
import xml.etree.ElementTree as ET
from collections import Counter

In [2]:
tree = ET.parse('./files/constellations.xml')
root = tree.getroot()

In [78]:
constellations = list()
origins = list()
degs2 = list()
percents = list()

In [79]:
for item in root.iterfind('constellation'):
    origins.append(item.attrib['origin'])
    constellations.append(item.find('name').text)
    for area in item.iter('area'):
        if area.attrib['unit'] == 'deg2':
            degs2.append(float(area.text))
        else:
            percents.append(float(area.text))

In [80]:
df = pd.DataFrame({
    'constellation': constellations,
    'origin': origins,
    'deg2': degs2,
    'percent': percents
})

In [81]:
df

  constellation    origin      deg2  percent
0        Carina  Lacaille   494.184     1.20
1        Corvus  Ptolémée   183.801     0.45
2  Microscopium  Lacaille   209.513     0.51
3    Triangulum  Ptolémée   131.847     0.32
4         Draco  Ptolémée  1082.952     2.63
5    Ursa major  Ptolémée  1279.660     3.10
6         Pyxis  Lacaille   220.833     0.54
7        Auriga  Ptolémée   657.438     1.59
8        Aquila  Ptolémée   652.473     1.58

In [63]:
print(Counter(df['origin']))

Counter({'Ptolémée': 6, 'Lacaille': 3})

In [87]:
df.describe()

              deg2   percent
count     9.000000  9.000000
mean    545.855667  1.324444
std     414.530154  1.003782
min     131.847000  0.320000
25%     209.513000  0.510000
50%     494.184000  1.200000
75%     657.438000  1.590000
max    1279.660000  3.100000

In [75]:
sum(df['percent'])

11.92